 <!-- About Section -->
 <section class="success" id="about">
     <div class="container">
         <div class="row">
             <div class="col-lg-12 text-center">
                 <h2>Über uns</h2>
                 <hr class="star-light">
             </div>
         </div>
         <div class="row">
             <div class="col-lg-5 col-lg-offset-1">
                 <p>Die Jungen Europäischen Föderalisten Sachsen sind ein unabhängiger, politischer und überparteilich organisierter Jungendverband. Uns liegt Europa am Herzen und deshalb fördern wir mit all unseren Kräften die europäische Idee. Europa ist unsere Zukunft – darum wollen wir sie gestalten. Wir sind ein Landesverband der JEF Deutschland – der deutsche Ableger der Young European Federalists (JEF Europe).</p>

                 <p>Die JEF Europe ist eine europäische Plattform für eine bunte Gruppe mit über 25.000 Mitgliedern aus 30 verschiedenen Ländern, die sich alle für ein vielfältiges, friedliches und vereintes Europa einsetzen. Gemeinsam möchten wir die Europäische Union verändern, indem wir für ein tieferes und europäisch betontes Bewusstsein werben.
                 </p>

                 <p>Um das zu erreichen führen wir Workshops, Schulbesuche, Vorträge, Podiumsdiskussionen und Infostände durch. Dabei setzen wir uns kritisch mit der EU auseinander und fordern eine zunehmende Demokratisierung sowie Bürgernähe, Transparenz, Effizienz und Nachhaltigkeit. Wir möchten Europapolitik weiter in den Fokus rücken und darauf aufmerksam machen, wie wichtig ein geeintes Europa für uns alle ist. Unser Ziel ist ein europäischer Föderalstaat, in dem alle Völker Europas gleichberechtigt, demokratisch und solidarisch zusammenleben.</p>

             </div>
             <div class="col-lg-5 col-lg-offset-1">
                 <p>Mit viel jugendlicher Energie versuchen wir so viele neue Ideen zu verwirklichen, wie es nur geht. Unsere Arbeit ist ehrenamtlich und bereitet uns große Freude. Zusammen möchten wir Sachsen um viele Veranstaltungen rund um Europa bereichern.</p>

                 <p>Wenn du dich für Europa interessierst, in geselliger Runde diskutieren möchtest und Spaß am Organisieren von Veranstaltungen hast, dann werde JEFer! Wir freuen uns über interessierte junge Leute, die sich engagieren möchten.</p>

                 <p>Als Mitglied in unserem Landesverband hast du die Möglichkeit an zahlreichen Seminaren und Konferenzen innerhalb unseres europaweiten Netzwerkes teilzunehmen. Neben politischen Diskussionen mit Freunden aus ganz Europa hast du die Möglichkeit, europäische Politik hautnah mitzuerleben und zu gestalten.</p>

                 <p>Lust? Dann schreib uns doch einfach eine Email an vorstand@jef-sachsen.de! Wir freuen uns auf dich!
                 </p>
             </div>
             <div class="col-lg-8 col-lg-offset-2 text-center">
                 <a href="#" class="btn btn-lg btn-outline">
                     <i class="fa fa-download"></i> Download Theme
                 </a>
             </div>
         </div>
     </div>
 </section>